<!doctype html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>{{ title|default('Blog Admin') }}</title>
	
	<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="/static/js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="/static/js/hideshow.js" type="text/javascript"></script>
	<script src="/static/js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/jquery.equalHeight.js"></script>
	<script type="text/javascript" src="/static/js/admin.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	    //When page loads...
	    $(".tab_content").hide(); //Hide all content
	    $("ul.tabs li:first").addClass("active").show(); //Activate first tab
	    $(".tab_content:first").show(); //Show first tab content

	    //On Click Event
	    $("ul.tabs li").click(function() {

		    $("ul.tabs li").removeClass("active"); //Remove any "active" class
		    $(this).addClass("active"); //Add "active" class to selected tab
		    $(".tab_content").hide(); //Hide all tab content

		    var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		    $(activeTab).fadeIn(); //Fade in the active ID content
		    return false;
	    });

    });
    </script>
</head>


<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html">{{ title|default('Blog Admin') }}</a></h1>
			<h2 class="section_title">Dashboard</h2><div class="btn_view_site"><a href="/">View Site</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="secondary_bar">
		<div class="user">
			<p>{{ user.nickname() }}</p>
			<a class="logout_user" href="{{ logout_url }}" title="Logout">Logout</a>
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html">{{ title|default('Blog Admin') }}</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
		<h3>Content</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="">All posts</a></li>
			<li class="icn_categories"><a href="/admin/textpost/">Text posts</a></li>
			<li class="icn_photo"><a href="/admin/photopost/">Photo posts</a></li>
			<li class="icn_video"><a href="/admin/videopost/">Video posts</a></li>
		</ul>
		
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2011 Website Admin</strong></p>
			<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
		</footer>
	</aside><!-- end of sidebar -->
	
	<section id="main" class="column">				
		
		<article class="module width_full">
		<header><h3 class="tabs_involved">Entries Manager</h3>
		<ul class="tabs">
   			<li><a href="#tab1">Posts</a></li>
    		{% if type %}<li><a href="#tab2">New {{ type }} post</a></li>{% endif %}
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0">
			<thead> 
				<tr>
				    <th>Type</th>
    				<th>Title</th> 
    				<th>Created On</th>
    				<th>Author</th>
    				<th>Rate</th>
    				<th>Actions</th> 
				</tr> 
			</thead>
			<tbody>
			    {%- for entry in entries %}
			    <tr>
			        <td>{{ entry.class_name() }}</td>
			        <td>{{ entry.title }}</td>
			        <td>{{ entry.created.strftime('%d/%m/%Y %H:%M') }}</td>
			        <td>{{ entry.author.nickname() }}</td>
			        <td>{{ entry.rate }}</td>
		            <td>
		                <input type="image" src="/static/img/icn_edit.png" title="Edit" onclick="admin.edit(this);" />
	                    <input name="k" value="{{ entry.key() }}" type="image" src="/static/img/icn_trash.png" title="Trash" onclick="admin.delete(this);" />
	                </td>
		        </tr>
			    {%- endfor %}
			</tbody>
			</table>
			</div><!-- end of #tab1 -->
			
			<div id="tab2" class="tab_content">
			    {%- block new_form %}{% endblock -%}
			</div><!-- end of #tab2 -->
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
				
		<div class="spacer"></div>
	</section>

</body>

</html>
