{% extends 'admin.html' %}

{% block new_form %}
<form method="post" enctype="multipart/form-data">
    <div class="module_content">
	    <fieldset>
		    <label>Post Title</label>
		    <input type="text" name="title">
	    </fieldset>
	    <fieldset>
		    <label>File</label>
		    <input type="file" name="photo" />
	    </fieldset>
	    <fieldset>
		    <label>URL</label>
		    <input type="text" name="url" />
	    </fieldset>
	    <fieldset>
		    <label>Tags <small>(comma separated)</small></label>
		    <input type="text" name="tags" />
	    </fieldset>
	    <div class="clear"></div>
    </div>
    <footer>
        <div class="submit_link">
	        <select>
		        <option>Draft</option>
		        <option>Published</option>
	        </select>
	        <input type="submit" value="Publish" class="alt_btn">
        </div>
    </footer>
</form>
{% endblock %}
